/* importo desde google fonts elijo fuente GET EMBED CODE--> @import */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Incorporo las modificaciones de la clse y aplico a todo el documento  */
*  {
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 550;
        font-style: normal;
     }

body{
        position: relative;
        min-height: 100vh;
        padding-bottom: 4.5rem;
}

header, footer { 
        background-color: coral;
        color: whitesmoke;
        height: auto;
        text-align: center;
}

main {
        background-color: whitesmoke;
        padding: 4%;
}

footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4.5rem;
}